body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 3em;

    background-image: url('www.erik-winter.com_6.smaller.jpg'); /* Adjust the path if necessary */
    background-size: contain; /* Now the image should cover the entire viewport */
    background-position: center 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content-container {
  padding-bottom: 2em; /* Adjust the value so that it's enough to accommodate the height of the .impressum */
}

.name {
    font-size: 3em;
    margin-bottom: 2em;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    
}

.letter-section {
    display: inline-block;
    text-align: center;
    position: relative;
   /* margin-right: 1.875em;*/
}

.horizontal {
    display: flex;
    align-items: center;
}

.boxed {
    border: 0.125em solid white;
    padding: 0.3125em;
    display: inline-block;
}

.next-to {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.1125em;
}


.vertical {
    color: white;
    display: block;
    opacity: 0;
    text-align: left;
    margin-top: 0.1em;
    opacity: 0;
    transition: opacity 0.9s ease, color 0.9s ease;
}

.letter-section:hover .vertical {
    color: grey;
    /*display: block; */
    opacity: 1;
    border-color: grey;
    transition: opacity 0.9s ease, color 0.9s ease, border-color 0.9s ease;
}

/*
.vertical {
    color: white;
    text-align: left;
    margin-top: 0.1em;
    opacity: 0;
    max-height: none; 
    overflow: hidden;
    visibility: hidden;
    transition: opacity 0.9s, max-height 0.9s, visibility 0.9s; 
}

.letter-section:hover .vertical {
    color: grey;
    opacity: 1; 
    visibility: visible; 
    transition: opacity 0.9s, max-height 0.9s, visibility 0s 0s; 
}
*/


.sticky-dropdown {
    display: block !important;
    opacity: 1 !important;
}

.letter-section .boxed {
    color: white;
    border-color: white;
    transition: color 0.9s ease, border-color 0.9s ease;
}

.letter-section:hover .boxed {
    color: grey;
    border-color: grey;
    transition: color 0.9s ease, border-color 0.9s ease;
}

a {
    text-decoration: none;
    color: white;
}

.bio-container {
    position: relative;
    background-color: black;
    padding: 1.25em;  /* previously 20px */
    border: 0.125em solid white;  /* previously 2px */
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.2);  /* previously 10px */
    margin-top: 1.25em;  /* previously 20px */
    margin-bottom: 1.25em;  /* previously 20px */
    width: 90%;  
    overflow: hidden; 
   /* Remove these:*/
    height: auto; 
    max-height: 15.3125em; 
    
    max-width: 50em;  /* previously 800px */
    margin: 0 auto;
    transform: translateY(-100px);
}

.art-container, .kontakt-container {
    background-color: black;
    padding: 1.25em;
    border: 0.125em solid white;
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.2);
    margin-top: 1.25em;
    justify-content: space-evenly;
    transform: translateY(-100px);
}

.art-links {
    display: flex;
    justify-content: space-between;
    padding: 1.25em 0;
    cursor: pointer;
    color: grey;
}

.art-link {
    font-size: 1.5em;
    transition: color 0.3s;
    justify-content: space-evenly;
    color: grey;
}

.art-link:hover {
    color: white;
}

.info-box {
    opacity: 0;
    transition: opacity 0.9s ease-out, max-height 0.9s ease-out;
    visibility: hidden;
    position: absolute;
    background: black;
    border: 0.125em solid white;
    padding: 1.25em;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    justify-content: space-evenly;
    max-width: 100%;  /* Add this */
   
}

.info-box.showing {
    opacity: 1;
    visibility: visible;
    position: relative;
    padding-bottom: 5em;
}

.close-btn {
    background-color: black; /* Button background */
    color: white; /* Text color */
    border: 2px solid white; /* Sharp-edged white border */
    padding: 0.5em 1em; /* Padding around the text */
    font-size: 1em; /* Text size, adjust as needed */
    cursor: pointer; /* Changes the mouse cursor to a pointer on hover */
    text-transform: uppercase; /* OPTIONAL: Makes the text uppercase */
    font-weight: bold; /* OPTIONAL: Makes the text bold */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
    outline: none; /* Removes the outline to make it look cleaner */
    text-decoration: none; /* Removes underline from text if it's an <a> element */
}

.close-btn:hover {
    background-color: white; /* White background on hover */
    color: black; /* Black text on hover */
    border: 2px solid black; /* Black border on hover to maintain visibility */
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 1.5625em;
    /*height: 0;*/
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button {
    color: grey;
    border: 0.0625em solid gray;
    padding: 0.625em 0.9375em;
    display: inline-block;
    cursor: pointer;
    transition: color 0.9s ease, border-color 0.9s ease;
}

.button:hover, .button:active {
    color: white;
    border-color: white;
}

/*
.impressum {
    position: absolute;
    bottom: 0.625em;
    width: 100%;
    text-align: center;
    font-size: 0.75em;
    color: lightgrey;
    padding: 0.3125em;
    background: black;
}
*/

.impressum {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.75em;
    color: lightgrey;
    padding: 1em 0; 
    background: black;
    z-index: 1000; /* Make sure it stays on top of other content */
}

.big_words_container {
    position: absolute;
    font-weight: bold;
    bottom: 6em;
    width: 100%;
    text-align: center;
    font-size: 1.25em;
    color: lightgrey;
    padding: 0.3125em;
    background: black;
}

#viewMoreBtn {
    display: inline-block;
    padding: 0.3125em 0.3125em;
    background-color: #333;
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 0.3125em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-top: 0.0625em;
}

#viewMoreBtn:hover {
    background-color: #555;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Transparenter Hintergrund */
    z-index: -1; /* Damit es hinter allem anderen liegt */
    transition: background-color 0.9s ease;
}

.work-item {
  cursor: pointer;
  margin-bottom: 1.25em; /* Space out the work items */
  transition: transform 0.3s ease, font-size 0.3s ease, font-weight 0.3s ease; /* Smooth transformation on hover */
  font-size: 1em; /* Adjust the font size as needed */
}

.work-item:hover {
  transform: translateY(-0.3125em); /* Slight upward lift on hover */
  font-weight: bold; /* Make the font bold when hovered */
  font-size: 1.1em; /* Slightly increase the font size on hover */
}

.work-details {
  display: none; /* Start with the details hidden */
  background-color: #1c1c1c; /* Slightly lighter than black for contrast */
  color: white;
  padding: 1.25em;
  border: 0.125em solid white;
  box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.2);
  position: absolute; /* Overlay the details on top of the work items */
  z-index: 10; /* Ensure it's on top of other elements */
  width: 80%; /* Match the width of your bio-container */
  max-width: 50em; /* Maximum width to ensure readability */
  top: 0; /* Align it with the top of the parent */
  left: 50%; /* Center it horizontally */
  transform: translateX(-50%); /* Ensure it's centered with translate */
  transition: all 0.3s ease; /* Smooth transition for display and other properties */
}

.work-item:hover .work-details {
  display: block; /* Show the details when the item is hovered */
}

/* If you decide to use JavaScript to toggle a class for showing work details */
.work-details.active {
  display: block; /* Change display to block to show the content */
  animation: fadeIn 0.3s; /* Optional: add a fade-in animation */
}

/* Simple fade-in animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Adjust the .overlay to become visible when work details are active */
.overlay.active {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
  z-index: 5; /* Below the work details but above other content */
}


@media screen and (max-width: 37.5em) {
    .name {
        font-size: 0.9em;
        margin-bottom: 2em;
    }

    body {
        overflow-x: hidden;
        padding-top: 3.125em;
        background-size: cover;
    }

    .letter-section {
        margin-right: 1em;
    }

    .boxed {
        padding: 0.1875em;
    }

    img {
        /* Adjustments for phone screens go here */
        max-width: 90%; /* Example: set to 90% of the container width */
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .fixed-container {
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        max-width: none;
        /*align-items: flex-start;
        justify-content: space-evenly;*/
    }
    
    .bio-container {
        margin-left: auto;
        margin-right: auto;
        padding: 0.3125em;
        overflow: scroll;
    }
    
    .art-container, .kontakt-container {
        margin-left: auto;
        margin-right: auto;
        padding: 0.3125em;
    }

    .art-links {
        font-size: 0.9em;
    }

    .art-link {
        font-size: 0.9em;
        transition: color 0.3s;
    }

    h1 {
        font-size: 1.25em;
    }

    .info-box h2 {
    font-size: 1.25em;  
    }
}



@media (max-width: 37.5em) {

    .info-box h2 {
        font-size: 0.8em;
    }

    .big_words_container {
        font-size: 0.8em;      /* Reduce the font size */
        bottom: 7em;          /* Adjust the position from the bottom */
        padding: 0.2em;       /* Adjust padding */
    }
    
    .kontakt-container {
        width: 100%;
        padding: 1em;
    }

    .art-container {
        width: 100%;
        padding: 1em;
    }
    
    .info-box {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .video-container {
        margin-top: 1em;
    }

    .button {
        padding: 0.5em 0.75em;
    }

    .impressum {
        bottom: 0.5em;
        padding: 0.25em;
    }

    .big_words_container {
        bottom: 10em;
        padding: 0.25em;
    }

    #viewMoreBtn {
        padding: 0.25em 0.5em;
        font-size: 0.9em;
    }
}
